# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DATABASE_URL="postgresql://postgres:postgres@localhost:15432/<db_name>?schema=public"
POSTGRES_URL="postgres://postgres:postgres@localhost:15432/products"

# =============================================================================
# ELASTICSEARCH CONFIGURATION
# =============================================================================
ELASTICSEARCH_NODE_URL=<YOUR_ELASTICSEARCH_NODE_URL>
