# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DATABASE_URL="postgresql://postgres:postgres@localhost:15432/<db_name>?schema=public"
