# =============================================================================
# SERVER CONFIGURATION
# =============================================================================
SERVER_PORT=<YOUR_SERVER_PORT>
SERVER_ENV=<YOUR_SERVER_ENV>

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DATABASE_URL="postgresql://postgres:postgres@localhost:15432/notes_authentication?schema=public"

# =============================================================================
# REDIS CONFIGURATION
# =============================================================================
REDIS_URL="redis://:ro0T@localhost:16379/0"

# =============================================================================
# HASH CONFIGURATION
# =============================================================================
HASH_SALT_ROUNDS=10

# =============================================================================
# JWT CONFIGURATION
# =============================================================================
ACCESS_TOKEN_SECRET=<YOUR_ACCESS_TOKEN_SECRET>
ACCESS_TOKEN_EXPIRES_IN="1h"

REFRESH_TOKEN_SECRET=<YOUR_REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRES_IN="7d"

# =============================================================================
# LOG CONFIGURATION
# =============================================================================
LOG_LEVEL=<YOUR_LOG_LEVEL>
LOG_DIRECTORY=<YOUR_LOG_DIRECTORY>

# =============================================================================
# LOKI CONFIGURATION
# =============================================================================
LOKI_URL=<YOUR_LOKI_URL>
