# =============================================================================
# SERVER CONFIGURATION
# =============================================================================
SERVER_PORT=<YOUR_SERVER_PORT>
SERVER_ENV=<YOUR_SERVER_ENV>

# =============================================================================
# LOG CONFIGURATION
# =============================================================================
LOG_LEVEL=<YOUR_LOG_LEVEL>
Log_DIRECTORY=<YOUR_LOG_DIRECTORY>
