# =============================================================================
# SERVER CONFIGURATION
# =============================================================================
SERVER_PORT=<YOUR_SERVER_PORT>
SERVER_ENV=<YOUR_SERVER_ENV>

# =============================================================================
# LOG CONFIGURATION
# =============================================================================
LOG_LEVEL=<YOUR_LOG_LEVEL>
Log_DIRECTORY=<YOUR_LOG_DIRECTORY>

# =============================================================================
# SERVICES URL CONFIGURATION
# =============================================================================
AUTH_SERVICE_URL=<AUTH_SERVICE_URL>
NOTES_SERVICE_URL=<NOTES_SERVICE_URL>
USER_SERVICE_URL=<USER_SERVICE_URL>

# =============================================================================
# TIME OUT CONFIGURATION
# =============================================================================
DEFAULT_TIMEOUT=<YOUR_DEFAULT_TIMEOUT>
