# =============================================================================
# SERVER CONFIGURATION
# =============================================================================
SERVER_PORT=<YOUR_SERVER_PORT>
SERVER_ENV=<YOUR_SERVER_ENV>

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DATABASE_URL="postgresql://postgres:postgres@localhost:15432/notes_authentication?schema=public"
